mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 35%;

  img {
    height: 100%;
    // filter: invert(1);
  }
}

// mat-toolbar {
//     background-color: black;
// }
