<mat-toolbar>
  <a class="logo" routerLink="/">
    <img
      [ngStyle]="{ filter: (isDarkTheme$ | async) ? 'invert(1)' : 'invert(0)' }"
      src="assets/logo2.png"
      alt="Site logo"
    />
  </a>

  <div class="actions">
    <button mat-icon-button matTooltip="Toggle dark theme" (click)="changeTheme()">
      <mat-icon>{{ (isDarkTheme$ | async) ? "brightness_7" : "brightness_3" }}</mat-icon>
    </button>

    <ng-container *ngIf="connected$ | async; else notConnected">
      <button mat-icon-button matTooltip="Connected" [matMenuTriggerFor]="menu">
        <mat-icon>verified_user</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="disconnect()">Disconnect</button>
      </mat-menu>
    </ng-container>

    <ng-template #notConnected>
      <button
        mat-icon-button
        matTooltip="Connect to access more per user-specific features"
        [matMenuTriggerFor]="connectMenu"
      >
        <mat-icon>security</mat-icon>
      </button>

      <mat-menu #connectMenu="matMenu">
        <button mat-menu-item (click)="simpleConnect()">Simple Connect</button>
        <button mat-menu-item (click)="googleConnect()">Connect with Google</button>
      </mat-menu>
    </ng-template>
  </div>
</mat-toolbar>
