:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  .content {
    overflow-y: auto;
    height: calc(100dvh - 64px);
    padding: 1rem;
  }

  layout-footer {
    margin-top: auto;
  }
}
