<div class="subtitle">
  Simple connect. This is a one step process combining both Login and Register. If you have not registered yet, the
  credentials you enter will create an account automatically.
</div>

<div class="content">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
  </form>
</div>

<div *ngIf="invalidPassword" class="message">
  There is an account linked with this Username but your Password is incorrect. If you wish to create a new account,
  change the Username
</div>

<div class="actions">
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="connect()">Connect</button>
</div>
