/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}
html,
body {
  height: 100%;
  color: var(--foreground-color);
  background-color: var(--background-color);
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

[hidden] {
  display: none !important;
}

[invisible] {
  visibility: hidden !important;
}

a[disabled] {
  pointer-events: none;
  cursor: default;
  color: var(--foreground-disabled-color) !important;

  * {
    color: var(--foreground-disabled-color) !important;
  }
}

mat-form-field {
  width: 100%;
}
